.pricing-header {
	margin-bottom: 48px;
}

.uploader {
	display        : flex;
	justify-content: space-evenly;
	flex-direction : column;
}

.forms-wrap {
	display        : flex;
	flex-wrap      : wrap;
	justify-content: center;
	margin-right   : -12px;
	margin-left    : -12px;

	&:first-child {
		margin-top: -12px;
	}

	&:last-child {
		margin-bottom: -12px;
	}
}

.form-table {
	border-radius: 4px;
	position     : relative;
	width        : 368px;
	max-width    : 368px;

	&::before {
		content            : '';
		position           : absolute;
		left               : 50%;
		width              : 200%;
		max-width          : 200%;
		height             : 435px;
		background-repeat  : no-repeat;
		background-position: center;
		background-size    : 100%;
		bottom             : 18.8%;
		-webkit-transform  : translateX(-50%);
		transform          : translateX(-50%);
		background-image   : url('../images/pricing-illustration.svg');
	}
}


.form-table-inner {
	position       : relative;
	display        : flex;
	flex-wrap      : wrap;
	background     : color(bg, 4);
	padding        : 24px;
	height         : 100%;
	justify-content: center;
	align-items    : center;

	>* {
		position: relative;
		/* To display all elements above the box with shadow */
		width   : 100%;
	}

	&::before {
		content : '';
		position: absolute;
		top     : 0;
		right   : 0;
		bottom  : 0;
		left    : 0;
		@include shadow;
	}

}

.col {
	display        : flex;
	justify-content: center;
	align-items    : center;
	flex-wrap      : wrap;
	width          : 50%;
	height         : 100%;

	&:not(:last-child) {
		border-right: dashed 1px rgba(#3c485b, 15%);
	}
}

.cont {
	text-align: center;

	@media screen and (max-width: 480px) {
		padding-bottom: 60px;
	}
}

#tryAI-button {
	padding        : 10px 30px;
	color          : #fff;
	background     : #8c8a89;
	border         : 0 none;
	border-radius  : 99px;
	cursor         : pointer;
	display        : flex;
	align-items    : center;
	justify-content: center;
	margin         : auto;
	position       : relative;

	&:hover {
		background: #3c485b;
	}

	&[disabled] {
		cursor: not-allowed;

		&,
		&:hover {
			background: #ccc;
		}
	}

	.loading {
		margin-right : 2px;
		display      : none;
		border       : 3px solid #fff;
		border-top   : 3px solid transparent;
		border-radius: 50%;
		width        : 16px;
		height       : 16px;
		animation    : spin 1s linear infinite;
	}

	&.loading-active {
		.loading {
			display: block;
		}

		span {
			opacity: 0.6;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


.img-box {
	margin-bottom: 10px;
}

.error-msg {
	color    : #ff3838;
	font-size: 12px;
}

.msg {
	font-size: 12px;
}

// -------------------------------

// For Share File

.img-box {
	display: block;

	img {
		display: block;
	}

}

label {
	cursor: pointer;

	&:hover {
		img {
			opacity: 0.8;
		}
	}
}

input[type="file"] {
	position   : absolute !important;
	width      : 1px !important;
	height     : 1px !important;
	padding    : 0 !important;
	overflow   : hidden !important;
	clip       : rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border     : 0 !important;
}

.desc {
	font-size: 14px;
}

// -------------------------------

// Swiper

.swiper {
	width        : 240px;
	height       : 320px;
	margin-bottom: 20px;
}

.swiper-slide {
	display         : flex;
	align-items     : center;
	justify-content : center;
	background-color: #fff;
	border-radius   : 10px;

	img {
		max-width : calc(100% - 20px);
		max-height: calc(100% - 20px);
	}

	label {
		display        : flex;
		justify-content: center;
		align-items    : center;
		height         : 100%;
		width          : 100%;
	}

	&.fake {
		color     : rgba(60, 72, 91, 0.5);
		background: transparent;
		border    : 1px dashed currentColor;

		&::before {
			content    : 'Select image files \A (PNG/JPG/GIF)'; // \A === break line(1/2)
			font-size  : 12px;
			white-space: pre-wrap; // break line(2/2)
		}

		label {
			position: absolute;
			top     : 0;
			left    : 0;
		}
	}

	&:not(.swiper-slide-active) {
		.btn-del {
			pointer-events: none;
		}
	}
}

.btn-del {
	position     : absolute;
	z-index      : 10;
	top          : 10px;
	right        : 10px;
	margin       : 0;
	padding      : 0;
	width        : 30px;
	height       : 30px;
	font-size    : 20px;
	line-height  : 1;
	color        : #fff;
	background   : #3c485b;
	border       : 0 none;
	border-radius: 100%;
	opacity      : 0.5;
	cursor       : pointer;

	&:hover {
		opacity: 1;
	}
}

.result-container {
	border-radius: 4px;
	position     : relative;
	padding      : 12px;
	width        : 368px;
	max-width    : 368px;
	background   : color(bg, 4);
	overflow     : hidden;
	box-shadow   : 0 4px 8px rgba(0, 0, 0, 0.1);
	transition   : transform 0.3s, box-shadow 0.3s;
	text-align   : center;

	h1 {
		padding       : 0;
		margin        : 0 12px 20px;
		font-size     : 38px;
		line-height   : 48px;
		letter-spacing: 0px;
	}

	&:hover {
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}

	.image-wrapper {
		width           : 100%;
		overflow        : hidden;
		background-color: #f9f9f9;

		.result-image {
			background-size    : cover;
			background-repeat  : no-repeat;
			background-position: center;
			height             : 400px;
			transition         : transform 0.3s;
			background-image   : url(../../../dist/images/result-placeholder.svg);

			&:hover {
				transform: scale(1.1);
			}

			&.no-zoom:hover {
				transform: none;
			}
		}
	}

	.description {
		padding         : 15px;
		background-color: #f9f9f9;

		h3 {
			font-size    : 1.2rem;
			margin-bottom: 10px;
			color        : #333;
		}

		p {
			font-size: 0.9rem;
			color    : #777;
		}
	}

	.lightbox {
		display         : none;
		/* Ẩn lightbox theo mặc định */
		position        : fixed;
		top             : 0;
		left            : 0;
		width           : 100%;
		height          : 100%;
		background-color: rgba(0, 0, 0, 0.8);
		/* Nền tối */
		justify-content : center;
		align-items     : center;
		z-index         : 1000;

		img {
			width     : auto;
			height    : auto;
			max-width : 90%;
			max-height: 90%;
			object-fit: cover;
		}
	}


	&.active {
		.lightbox {
			display: flex;
		}
	}
}

@keyframes zoom {
	from {
		transform: scale(0.5);
	}

	to {
		transform: scale(1);
	}
}